
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	box-sizing: border-box;
}

.bg {
	background-image: url('/img/carbonwarriors-tree-bg4.png');
	max-width: 100vw;
	background-size: cover;
	min-height: 100vh;
	background-position: right;
	background-attachment: fixed;
}

.navbar {
	margin-bottom: 0;
}

.navabar-brand {
	position: absolute;
}

.bg-dark {
	background-color: black!important;
}

.logo-no-text {
	max-height: 5em;
	position: absolute;
	margin-top: .2em;
	z-index: 0;
}

.logo-text {
	display: none;
}

.page-title {
	font-family: 'Montserrat', sans-serif;
	color: white;
	font-weight: bolder;
	margin-left: 3em;
	padding-top: .4em;
	position: relative;
}

.top-cta {
	display: none;
}

.sub-header {
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
}

.container.main {
	background: rgb(255,255,255);
	background: linear-gradient(90deg, rgba(255,255,255,1) 35%, rgba(255,255,255,0.7399334733893557) 75%, rgba(255,255,255,0) 100%);
	height: 95vh;
	padding-top: 2em;
}

#mc_embed_signup_scroll h2 {
	display: none;
}

#mc_embed_signup .button {
	background-color: #4ca924!important;
}

.mc-field-group label {
	font-family: 'Roboto', sans-serif;
}

.form-box {
	display: flex;
	flex-direction: column;
	margin-top: 1em;
}

footer {
	position: fixed;
	width: 100%;
	bottom: 0;
	display: none;
}

@media (max-width: 600px) {
	.container.main {
		background: linear-gradient(90deg, rgba(255,255,255,.85) 70%, rgba(255,255,255,.85) 100%);
	}
}

@media (max-width: 900px) {
	.container.main {
		width: 100%!important;
		height: auto;
	}
	.top-cta {
		display: block;
	}
	footer {
		position: relative;
	}
	.footer-container {
		background: linear-gradient(90deg, rgba(255,255,255,.85) 70%, rgba(255,255,255,.85) 100%);
		padding-top: 2em;
	}
	.navbar {
		max-height: 5em;
	}
	.logo-text {
		position: relative;
		max-height: 6em;
		margin: 0 auto;
	}
	.navbar-brand {
		display: flex;
		justify-content: center;
		width: 100%;
	}
	.logo-no-text {
		display: none;
	}
	.logo-text {
		display: block;
	}
	.page-title {
		display: none;
	}
	#mc_embed_signup {
		max-width: 100%;
	}
}

#mc_embed_signup {
	background-color: transparent !important;
	max-width: 45%;
}